---
import ContactForm from "../forms/ContactForm";
---

<dialog id="contact_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Contact Me</h3>
    <ContactForm client:load />
  </div>
</dialog>
