<button
  class="inline-flex items-center justify-center rounded-none border btn btn-primary"
  role="button"
  aria-roledescription="Contact Modal Open Button"
  onclick="my_modal_1.showModal()"
>
  Contact Me
</button>
