---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ContactMeButton from "../components/buttons/ContactMeButton.astro";
import LightButton from "../components/buttons/LightButton.astro";
import HeroGallery from "../components/sections/HeroGallery.astro";
import ContactMeModal from "../components/modals/ContactMeModal.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <HeroGallery />
      <ContactMeModal />
    </main>
    <Footer />
  </body>
</html>
